/**
 * gutenstrap/column Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.block-editor-block-list__layout .block-editor-block-list__block[data-type="gutenstrap/column"] {
	> .block-editor-block-list__block-edit {
		&::before {
			border-color: $block-border;
			border-left-width: 1px;
			border-left-style: solid;
			background: $white;
		}

		&::after {
			content: "column";
			z-index: 0;
			position: absolute;
			right: -14px;
			top: -14px;
			background: $block-border;
			pointer-events: none;
			font-size: 10px;
			line-height: 14px;
			padding: 0 4px;
			font-weight: 400;
		}
	}

	&.is-selected > .block-editor-block-list__block-edit {
		&::before {
			border-color: $block-border-active;
			border-left-color: transparent;
		}

		&::after {
			background: $block-border-active;
		}
	}
}

.gutenstrap-block-column {
	padding: 1px 7px;

	&__popover {
		padding: 8px 7px 0;
		display: flex;
		align-items: center;

		.components-range-control {
			flex: 1 1 auto;

			&__number {
				display: none;
			}

			&__slider {
				margin-top: 0.25em;
			}
		}

		&__value {
			border-radius: 50%;
			text-align: center;
			background: $gray-700;
			color: $white;
			width: 1.75em;
			height: 1.75em;
			margin: 0 7px 8px 0;
			line-height: 1.75;
			font-size: 0.875em;
			opacity: 0.3;

			&.active {
				opacity: 1;
			}
		}
	}
}
