.bootstrap-styles {
	@import '~bootstrap/scss/bootstrap';

	.components-icon-button {
		overflow: hidden;
	}
}

.editor-format-toolbar {
	&__inline-container-content {
		display: flex;
		align-items: stretch;

		&__inner {
			flex: 1 0 auto;
			padding: 8px;

			.components-base-control {
				margin-bottom: 0;

				&:last-child .components-base-control__field {
					margin-bottom: 0;
				}
			}

			.components-toggle-control__label {
				margin-bottom: 0 !important;
			}
		}

		.components-icon-button {
			border-radius: 0;
			flex-direction: column;
			justify-content: flex-end;
		}
	}
}

.components-button-group {
	> div {
		display: inline-flex;
		position: relative;

		.components-button.is-button:last-child {
			border-radius: 0;
		}

		&:last-child .components-button.is-button {
			border-radius: 0 3px 3px 0;
		}
	}

	.components-button.is-button + div,
	> div + div {
		margin-left: -1px;
	}
}

.fa-rotate-270 {
	margin: 0 0.1875em;
}
